@{
    ViewData["Title"] = "Home Page";

}

<link href="~/lib/jquery-datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/moment.js/moment.min.js"></script>
<script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.js"></script>

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    
    <p>This web application provide you the method to calculate business days between 2011 to 2071</p>
    <p>Click the link below, go to next page</p>
</div>

<div class="row">
    <div class="col-sm-12">
        <a href="CalculateBusinessDays" class="btn btn-primary">Go to Calculation Page</a>
    </div>
</div>
 
